<div class="container-fluid password-container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form (ngSubmit)='onSubmit()' [formGroup]='passwordForm'>
                <div class="form-group">
                    <input type="password" name="password" id="password" formControlName='password' placeholder="Password">
                    
                    <input type="password" name="confirm_password" id="confirm_password" formControlName='confirm_password' placeholder="Confirm password">
                    
                </div>
                <span class="text-danger" *ngIf="passwordForm.value.password != passwordForm.value.confirm_password">
                    *Password do not match
                </span>
                <span class="text-danger" *ngIf="(passwordForm.value.password.touched || submitted) && passwordForm.value.password.errors?.required">
                    *Password is required
                </span>
                <span color='primary' class="text-danger" *ngIf="passwordForm.value.confirm_password.touched && passwordForm.value.confirm_password.errors?.passwordMismatch">
                    *Passwords does not match
                </span>
                <button class="submit-button" mat-raised-button [disabled]='!passwordForm.valid'>{{ buttonText }}</button>
                <!-- Form Status: {{ passwordForm.status }} -->
            </form>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>