<div class="container">
    <div class="row">
        <div class="col-md-12 header-image-container">
            <img class="header-image" [defaultImage]="defaultImage" [lazyLoad]="placeDetails[1]" alt="">
        </div>
        
        <div class="col-md-12">
            <div class="place-name-container">
                <h1 class="place-name">{{ placeDetails[0] }}</h1>
            </div>
            <mat-divider></mat-divider>
            
            <div class="place-description-container">
                <p class="place-description">{{ placeDetails[2] }}</p>
            </div>
            <mat-divider></mat-divider>
            <div class="place-to-visit-container">
                <h3 style="margin: 0px; color: #656464;">Places of Attraction</h3>
                <mat-list role="list">
                    <mat-list-item role="listitem" class="place-to-visit-list" *ngFor="let place of placesToVisit">
                    <span class="material-icons">keyboard_arrow_right</span>  
                    {{ place }}
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <app-comment></app-comment>
</div>