.register-form-container{
    position: relative;
    background: #2980b9;
    border-radius: 5px;
    padding: 10px 50px;
    width: 50%;
    margin: 2% 25%;   
    opacity: 0.9;
}

label{
    color: #fff;
}

::placeholder{
    color: #fff;
}

.is-focused{
    color: #fff;
}

.submit-btn{
    color: #2980b9;
    background: #fff;
}

.submit-btn:hover{
    background: #0e4061;
    color: #fff;
}

.form-input{
    color: #fff;
  }