@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.main-wrapper{
    position: relative;
    height: 90vh;
    overflow: hidden;
    background: url('../../../assets/cover.jpg') no-repeat center center/cover;
}

.main-wrapper::after{
    content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

video {
	min-width: 100%;
	min-height: 100%;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.search-container{
    z-index: 10;
    display: flex;
    flex-direction: column;
    
}

.header-text{
    position: absolute;
    top: 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 50px;
    margin-top: 22vh;
    line-height: 1.2;
    letter-spacing: 5px;
    cursor: default;
}

form{
    z-index: 10;
    margin: 0px;
}

.search-wrapper {
    margin-top: 45vh;
    z-index: 10;
    width: 100%;
    /* margin-top: 35vh; */
}

.full-height{
    z-index: 10;
    height: 100%;
}

input#search {
    z-index: 10;
    outline: none;
    font-size: 18px;
    padding: 0px 9px;
    width: 80%;
    margin: auto 10%;
    height: 40px;
    background: transparent;
    border: 1px solid #ccc;
    color: #ccc;
}

input#search::placeholder{
    color: #fff;
}

input#search:focus + .suggestion-list{
    display: flex;
}

.suggestion-list {
    z-index: 11;
    display: flex;
    width: 80%;
    margin: auto 10%;
    max-height: 200px;
    flex-direction: column;
    overflow-y: hidden;
    background: #fff;
}

.place-link{
    z-index: 12;
    font-size: 17px;
    text-decoration: none;
    padding: 10px;
}

.place-link:hover{
    z-index: 13;
    background: #e4e3e3;
    transition: 0.2s ease-out;
}

.up{
    z-index: 10;
}