<ngx-spinner></ngx-spinner>

<div class="main-wrapper" >
    <video  src="../../../assets//video.mov" autoplay muted loop></video>
    <div class="container-fluid full-height">
        <div class="row full-height">
            <div class="up col-md-3" (click)="closeDropDown()"></div>
            <div class="search-container col-md-6">
                <h1 class="header-text">Search for your dream destination</h1>
                <div class="search-wrapper">
                    <form action="" [formGroup]="searchForm" (ngSubmit)="onSubmit()" autocomplete="off">
                        <input type="search" name="search" (click)="showSuggestion()" formControlName="search" id="search" placeholder="Search your place">
                    </form>
                    <div *ngIf="showDropDown" class="suggestion-list">
                        <a class="place-link"  [routerLink]="[ '/places', place ]" *ngFor="let place of placeNames | searchFilter: searchForm.value.search">
                            {{ place }}
                            <!-- {{ searchForm.value }} -->
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="up col-md-3" (click)="closeDropDown()"></div>
        </div>
    </div>
</div>




<div class="container">
    <app-places-grid></app-places-grid>
</div>
