<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let place of places">
            <div class="card text-center">
                <img class="card-img-top" [src]="place.imageSource" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ place.name }}
                    </h5>
                    <p class="card-text">
                        {{ place.desc }}
                    </p>
                </div>
                <a href="" class="btn btn-primary">Visit {{ place.name }}</a>
            </div>
        </div>
    </div>
</div>