.col-md-4{
    margin-top: 20px;
}

img.card-img-top {
    height: 230px;
}

.card{
    position: relative;
}

.card:hover .material-icons{
    display: block;
}

.card:hover .card-img-top{
    filter: grayscale(100%);
    transform: scale(1.05);
    box-shadow: #333 5px 5px 10px;
    transition: ease-in-out .2s;
}

.material-icons{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px;
    color: #ffffff;
    display: none;
}

.card-text{
    cursor: default;
}

.card-title{
    cursor: default;
}

.col-md-4:nth-child(n){
    margin-bottom: 20px;
}

.pagination-control{
    text-align: center;
}