<h2 mat-dialog-title>Please enter your email</h2>

<form action="" [formGroup]='form' autocomplete="off">
    <div class="form-group">
        <input type="email" formControlName="email" name="email" class="email-input form-input form-control" id="email" aria-describedby="emailHelp" placeholder="Email" required>
        <span class="text-danger" *ngIf="(form.controls['email'].touched || submitted) && form.controls['email'].errors?.required">
            *Email is required
        </span>
        <span class="text-danger" *ngIf="form.controls['email'].touched && form.controls['email'].errors?.email">
            *Enter a valid email address
        </span>
    </div>
</form>
<button mat-raised-button color="primary" (click)="submit()">Submit</button>
<button mat-button (click)="close()">Close</button>