<div class="container-fluid email-container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form [formGroup]='emailForm' (ngSubmit)='onSubmit()' autocomplete="off">
                <h1 class="form-title">Forgot your password? Enter your email</h1>
                <span class="text-danger" *ngIf="(emailForm.value['email'].touched || submitted) && emailForm.value['email'].errors?.required">
                    *Email is required
                </span>
                <span class="text-danger" *ngIf="emailForm.value['email'].touched && emailForm.value['email'].errors?.email">
                    *Enter a valid email address
                </span>
                <div class="form-group">
                    <input type="email" name="email" id="email" formControlName='email' placeholder="Email">
                </div>
                <button class="send-button" mat-raised-button [disabled]='!emailForm.valid'>{{ submitButton }}</button>
                <span class="alert alert-success" *ngIf="success && submitted; else errorMsg">
                    Reset link has been sent to your email id
                </span>
                <ng-template #errorMsg>
                    <span class="alert alert-danger" *ngIf="!success">
                        {{ message }}
                    </span>
                </ng-template>
                
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

    
</div>